In [1]:
import pandas as pd
import numpy as np

In [3]:
app_array = np.array([['Fruit Ninja', 'Game', 14654, 4.5],
                     ['Water Rush', 'Game', 41168,3.8],
                     ['Candy Crush', 'Game', 462354, 4.9],
                     ['7 Minute workout', 'Health', 85764, 2.7],
                     ['Enlight Editor', 'Productivity', 79654, 3.5],
                     ['Lark Health', 'Health', 65737, 4.5],
                     ['Toy Blast', 'Game', 78235, 3.7],
                     ['Hulu', 'Entertainment', 984654, 3.7],
                     ['Netflix', 'Entertainment', 989754, 3.8],
                     ['Chase', 'Productivity', 54324, 2.9],
                     ['Postmates', 'Food and Drink', 21546, 3.1],
                     ['Reddit', 'Entertainment', 875423, 4.5],
                     ['Pinterest', 'Entertainment', 874634, 4.1]
                     ])

phoneapps = pd.DataFrame(app_array)
phoneapps

                   0               1       2    3
0        Fruit Ninja            Game   14654  4.5
1         Water Rush            Game   41168  3.8
2        Candy Crush            Game  462354  4.9
3   7 Minute workout          Health   85764  2.7
4     Enlight Editor    Productivity   79654  3.5
5        Lark Health          Health   65737  4.5
6          Toy Blast            Game   78235  3.7
7               Hulu   Entertainment  984654  3.7
8            Netflix   Entertainment  989754  3.8
9              Chase    Productivity   54324  2.9
10         Postmates  Food and Drink   21546  3.1
11            Reddit   Entertainment  875423  4.5
12         Pinterest   Entertainment  874634  4.1

In [4]:
phoneapps.columns = ['Play Store Apps', 'Genre', 'Downloads', 'Rating']
phoneapps

     Play Store Apps           Genre Downloads Rating
0        Fruit Ninja            Game     14654    4.5
1         Water Rush            Game     41168    3.8
2        Candy Crush            Game    462354    4.9
3   7 Minute workout          Health     85764    2.7
4     Enlight Editor    Productivity     79654    3.5
5        Lark Health          Health     65737    4.5
6          Toy Blast            Game     78235    3.7
7               Hulu   Entertainment    984654    3.7
8            Netflix   Entertainment    989754    3.8
9              Chase    Productivity     54324    2.9
10         Postmates  Food and Drink     21546    3.1
11            Reddit   Entertainment    875423    4.5
12         Pinterest   Entertainment    874634    4.1

In [12]:
phoneapps.index = phoneapps['Play Store Apps']
phoneapps

                   Play Store Apps           Genre Downloads Rating
Play Store Apps
Fruit Ninja            Fruit Ninja            Game     14654    4.5
Water Rush              Water Rush            Game     41168    3.8
Candy Crush            Candy Crush            Game    462354    4.9
7 Minute workout  7 Minute workout          Health     85764    2.7
Enlight Editor      Enlight Editor    Productivity     79654    3.5
Lark Health            Lark Health          Health     65737    4.5
Toy Blast                Toy Blast            Game     78235    3.7
Hulu                          Hulu   Entertainment    984654    3.7
Netflix                    Netflix   Entertainment    989754    3.8
Chase                        Chase    Productivity     54324    2.9
Postmates                Postmates  Food and Drink     21546    3.1
Reddit                      Reddit   Entertainment    875423    4.5
Pinterest                Pinterest   Entertainment    874634    4.1

In [14]:
phoneapps.dtypes

Play Store Apps    object
Genre              object
Downloads          object
Rating             object
dtype: object

In [15]:
phoneapps.Downloads = pd.to_numeric(phoneapps.Downloads)

In [16]:
phoneapps.Rating = pd.to_numeric(phoneapps.Rating)

In [17]:
phoneapps.dtypes

Play Store Apps     object
Genre               object
Downloads            int64
Rating             float64
dtype: object

In [29]:
phoneapps['Rating'].median()

3.8

In [30]:
phoneapps['Rating'].mode()

0    4.5
dtype: float64

In [31]:
phoneapps['Rating'].mean()

3.8230769230769233

In [32]:
phoneapps['Downloads'].mean()

355992.3846153846

In [33]:
phoneapps['Downloads'].median()

79654.0

In [34]:
phoneapps['Downloads'].mode()

0      14654
1      21546
2      41168
3      54324
4      65737
5      78235
6      79654
7      85764
8     462354
9     874634
10    875423
11    984654
12    989754
dtype: int64